<!doctype html>
<html lang="">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="妙思科技微信上墙应用">
<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">

<title>待审核清单 - 妙思科技微信上墙应用</title>
<link rel="shortcut icon" type="image/x-icon" href="themes/images/favicon.ico">

<!-- Google icon -->
<link href="" rel="stylesheet" data-th-href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" />

<!-- Bootstrap css -->
<link rel="stylesheet" type="text/css" href="" data-th-href="@{/assets/css/bootstrap.min.css}" />
<!-- Propeller css -->
<link rel="stylesheet" type="text/css" href="" data-th-href="@{/assets/css/propeller.min.css}" />

<!-- DataTables css-->
<link rel="stylesheet" type="text/css" href="" data-th-href="@{https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css}">
<link rel="stylesheet" type="text/css" href="" data-th-href="@{https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css}">
<link rel="stylesheet" type="text/css" href="" data-th-href="@{https://cdn.datatables.net/select/1.2.0/css/select.dataTables.min.css}">
<!-- Propeller dataTables css-->
<link rel="stylesheet" type="text/css" href="" data-th-href="@{/components/data-table/css/pmd-datatable.css}">

<!-- Propeller theme css-->
<link rel="stylesheet" type="text/css" href="" data-th-href="@{/themes/css/propeller-theme.css}" />

<!-- Propeller admin theme css-->
<link rel="stylesheet" type="text/css" href="" data-th-href="@{/themes/css/propeller-admin.css}" />
</head>

<!-- Styles Ends -->

<body>
<!-- Header Starts -->
<!--Start Nav bar -->
<nav data-th-replace="index :: navbar">
</nav><!--End Nav bar -->
<!-- Header Ends -->

<!-- Sidebar Starts -->
<div class="pmd-sidebar-overlay"></div>

<!-- Left sidebar -->
<aside data-th-replace="index :: sidebar">
</aside><!-- End Left sidebar -->
<!-- Sidebar Ends -->  
	
<!--content area start-->
<div id="content" class="pmd-content inner-page">

	<div class="container-fluid full-width-container data-tables">
		<!-- Title -->
        <h1 class="section-title" id="services">
            <span>待审核清单</span>
        </h1><!-- End Title -->
        
        <!--breadcrum start-->
        <ol class="breadcrumb text-left">
          <li><a href="" data-th-href="@{/}">首页</a></li>
          <li class="active">待审核清单</li>
        </ol><!--breadcrum end-->
        
        <!-- table card -->
        <section class="row component-section">
            <input type="hidden" id="checkwxuser-csrf" name="_csrf" value=""  data-th-value="${_csrf.token}" />
            <!-- table card code and example -->
            <div class="col-md-12">
                <div class="component-box">
                    <!-- table card example -->
                    <div  class="pmd-card pmd-z-depth pmd-card-custom-view">
                        <div class="table-responsive">
                            <table id="checkwxuser-table" class="table pmd-table table-hover table-striped display responsive nowrap" cellspacing="0" width="100%">
		                        <thead>
		                            <tr>
		                                <th></th>
		                                <th></th>
		                                <th>活动</th>
		                                <th>微信用户</th>
		                                <th>头像</th>
		                                <th>签到时间</th>
		                                <th>留言</th>
		                            </tr>
		                        </thead>
		                    </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div><!--end content area-->

<!-- Footer Starts -->
<!--footer start-->
<footer data-th-replace="index :: footer">
</footer>
<!--footer end-->
<!-- Footer Ends -->

<!-- Modals start -->
    <div tabindex="-1" class="modal fade" id="tags-dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bordered">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h2 class="pmd-card-title-text">审核通过</h2>
                </div>
                <div class="modal-body">
                    <form id="tags-form" class="form-horizontal">
                        <input type="hidden" id="tags-form-csrf" name="_csrf" value="" data-th-value="${_csrf.token}">
                        <input type="hidden" id="tags-form-ids" name="ids" value="">
                        <div class="form-group pmd-textfield pmd-textfield-floating-label">
                            <label for="tags-form-tags" class="control-label">自定义标签</label>
                            <input type="text" class="mat-input form-control" id="tags-form-tags" name="tags" value="">
                            <span class="help-block">多个标签请用半角逗号分隔</span>
                        </div>
                    </form>
                </div>
                <div class="pmd-modal-action">
                    <button id="tags-form-submit" class="btn pmd-ripple-effect btn-primary" type="button">确定</button>
                    <button data-dismiss="modal" class="btn pmd-ripple-effect btn-default" type="button">取消</button>
                </div>
            </div>
        </div>
    </div>
<!-- Modals Ends -->

<!-- Scripts Starts -->
<script src="" data-th-src="@{/assets/js/jquery-1.12.2.min.js}"></script>
<script src="" data-th-src="@{/assets/js/bootstrap.min.js}"></script>
<script src="" data-th-src="@{/assets/js/propeller.min.js}"></script>
<script>
	$(document).ready(
			function() {
				var sPath = window.location.pathname;
				var params = window.location.search;
				var sPage = sPath+(params.length>0 ? params : '');
				console.debug(sPage);
				$(".pmd-sidebar-nav").each(
						function() {
							$(this).find("a[href='" + sPage + "']").parents(".dropdown").addClass("open");
							$(this).find("a[href='" + sPage + "']").parents(".dropdown").find('.dropdown-menu').css("display", "block");
							$(this).find("a[href='" + sPage + "']").parents(".dropdown").find('a.dropdown-toggle').addClass("active");
							$(this).find("a[href='" + sPage + "']").addClass("active");
						});
			});
	
</script>

<!-- Datatable js -->
<script type="text/javascript" language="javascript" src="" data-th-src="@{https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js}"></script>

<!-- Datatable Bootstrap -->
<script type="text/javascript" language="javascript" src="" data-th-src="@{https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js}"></script>

<!-- Datatable responsive js-->
<script type="text/javascript" language="javascript" src="" data-th-src="@{https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js}"></script>

<!-- Datatable select js-->
<script type="text/javascript" language="javascript" src="" data-th-src="@{https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js}"></script>
<script>
var table;
$(document).ready(function(){
	//数据表格初始化
	table = $('#checkwxuser-table').DataTable({
        responsive: false,
        columnDefs: [ {
            orderable: false,
            className: 'select-checkbox',
            targets:0,
        },{
            targets:1,
            visible: false
        },{
        	targets:4,
        	render: function ( data, type, full, meta ) {
        	      return '<img src="'+data+'" style="width:60px" />';
        	}
        } ],
        select: {
            style: 'multi',
            selector: 'td:first-child'
        },
        bLengthChange: true,
        processing: true,
        serverSide: true,
        ajax: './wxrecord/json?checked=0',
        pagingType: "simple",
        paging: true,
        searching: false,
        language: {
        	"sProcessing":"处理中...",
        	"sLoadingRecords": "载入中...",
        	"sZeroRecords":  "没有匹配的结果",
        	"emptyTable":"未有任何待审记录",
        	"sInfo":"显示第 _START_ 至 _END_ 项记录，共 _TOTAL_ 项",
            "sLengthMenu": "<span class='custom-select-title'>每页显示:</span> <span class='custom-select'> _MENU_ </span> 项记录",
            "paginate": {
                "sNext": " ",
                "sPrevious": " "
            },
        },
        dom:
            "<'pmd-card-title'<'data-table-title'><'search-paper pmd-textfield'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'pmd-card-footer' <'pmd-datatable-pagination' l i p>>",
    });
    
    //表格顶部菜单栏
    $("div.data-table-title").html('<button id="checkwxuser-btn-check" type="button" class="btn pmd-ripple-effect btn-primary"> 审核通过 </button >'+
    		' <button id="checkwxuser-btn-delete" type="button" class="btn pmd-ripple-effect btn-danger"> 删除签到 </button >'+
    		' <button id="checkwxuser-btn-block" type="button" class="btn pmd-ripple-effect btn-danger"> <i class="material-icons md-light" style="font-size: 12px;" >block</i> 屏蔽用户 </button >');
    
    //删除选中
    $('#checkwxuser-btn-delete').click( function () {
    	var data = table.rows('.selected').data();
    	var ids = '';
    	for(var i=0;i<data.length;i++){
    		var d = data[i];
    		if(ids!=='')
    			ids+=','+d[1];
    		else
    			ids+=d[1];
    	}

    	$.ajax({
    		url:'./wxrecord/'+ids+'?_csrf='+$('#checkwxuser-csrf').val(),
    		type:'DELETE',
    		dataType:'text',
    		success:function(t){
    			if(t=='true'){
    				table.draw();
    			}
    		}
    	})
    } );
    //审核通过按钮动作
    $('#checkwxuser-btn-check').click(function() {
    	var data = table.rows('.selected').data();
        var ids = '';
        for(var i=0;i<data.length;i++){
            var d = data[i];
            if(ids!=='')
                  ids+=','+d[1];
            else
                ids+=d[1];
        }
        
        $('#tags-form-tags').val('');
        $('#tags-form-ids').val(ids);
        $('#tags-dialog').modal('show');

        /*$.ajax({
            url:'./wxrecord/'+ids+'?checked=1&_csrf='+$('#checkwxuser-csrf').val(),
            type:'PUT',
            dataType:'text',
            success:function(t){
                if(t=='true'){
                    table.draw();
                }
            }
        })*/
    });
    
    $('#tags-form-submit').click(function(){
    	var ids = $('#tags-form-ids').val();
    	var tags = $('#tags-form-tags').val();
    	$.ajax({
            url:'./wxrecord/'+ids+'?checked=1&tags='+tags+'&_csrf='+$('#checkwxuser-csrf').val(),
            type:'PUT',
            dataType:'text',
            success:function(t){
                if(t=='true'){
                    table.draw();
                }
                $('#tags-dialog').modal('hide');
            }
        })
    })

  //添加到黑名单按钮动作
    $('#checkwxuser-btn-block').click(function() {
        var data = table.rows('.selected').data();
        var ids = '';
        for(var i=0;i<data.length;i++){
            var d = data[i];
            if(ids!=='')
                  ids+=','+d[1];
            else
                ids+=d[1];
        }

        $.ajax({
            url:'./wxrecord/'+ids+'?block=1&_csrf='+$('#checkwxuser-csrf').val(),
            type:'POST',
            dataType:'text',
            success:function(t){
                if(t=='true'){
                    table.draw();
                }
            }
        })
    });
})
</script>
</body>
</html>